body {
    margin: 0;
    padding: 0px 0px 70px 0px;
    font-family: Sans-Serif;
    line-height: 1.5em;
}

.login {
    width: 450px;
    margin: 5% auto;
    border:1px solid #CCC;
}

.login legend {
	padding: 5px 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: #4267b2;
}
.login table {
	width: 100%;
}

.login table td {
	padding-bottom: 5px;
}
.login label {
	font-size: 14px;
	color: #222222;
}

input[type='text'], input[type='password']
{
	width: 100%;
	padding: 5px 10px;
	border:1px solid #CCC;
}

textarea {
	width: 100%;
	padding: 5px 10px;
	height: 70px;
	border:1px solid #CCC;
}



input[type='button'],  input[type='submit'] 
{
	border:1px solid #CCC;
	padding: 5px 10px;
	color: #222222;
	background: #FFFFFF;
	border-radius: 5px;
}

input[type='button']:hover, input[type='submit']:hover
{
	background: #efe2e2;
	cursor: pointer;
}

.login ul {
	padding: 0px;
	margin:0px;
	list-style-position: inside;
	font-size: 12px;
}

.menu {
	padding: 10px 0px;
}

.menu .fa {
	color: #4267b2;

}

.menu ul {
	box-sizing: border-box;
	padding: 10px 20px;
	margin: 0px;
	list-style: none;
	background: #4267b2;
}

.menu ul li {
	display: inline-block;
	color: #222222;
	padding-right: 10px;
}

.menu ul li:hover a {
	background: #ecfde3;
}
.menu ul li a {
	color: #222222;
	text-decoration: none;
	background: #FFFFFF;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 14px;
}

.menu ul li label {
	font-size: 12px;
	color: #FFFFFF;
}

.main {
	padding: 0px 20px;
}

.post {
	width: 100%;
}

.post td {
	padding-bottom: 10px;
}

.list_post {
	padding: 0px;
	margin: 0px;
	list-style: none;
	width: 100%;
}

.list_post li {
	display: inline-block;
	width: 24%;
	border: 0px solid #CCC;
	border-radius: 5px;
	padding: 0px;
	margin: 0.3%;
	box-sizing: border-box;
	position: relative;
	border-radius: 10px 10px 0px 0px;
}

.list_post li:hover {
	box-shadow: 0px 0px 10px 0px #4267b2;
}


.list_post h5 {
	padding: 5px;
	padding-left: 35px;
	margin: 0px;
	color: #FFFFFF;
	font-size: 14px;
	background-color: #4267b2;
	border-radius: 10px 10px 0px 0px;
	cursor: pointer;
}

.list_post h5:hover {
	background-color:#2a416f;
}

.list_post h5 div:first-child {
	font-size:14px;
}

.list_post h5 div:last-child {
	font-size:10px;
	color: #FFFFFF;
	font-style: italic;
	line-height: 12px;
}
.list_post h5 .fa {
	position: absolute;
	top: 12px;
	left: 10px;
	font-size: 28px;
	z-index: 1;
}
.list_post p {
	padding: 5px 0px;
	margin: 0px;
	font-size: 12px;
}

.list_post label {
	font-size: 12px;
}

.list_post label a {
	color: #9861b9;
}

.list_post .content_post {
	border:1px solid #4267b2;
	padding: 5px;
	height: 60px;
}



.view_post {
	padding: 0px;
	margin: 0px;
	list-style: none;
	width: 100%;
}

.view_post li {
	
}

.view_post .more {
	padding: 5px 0px;
}

.view_post h5 {
	padding: 0px;
	margin: 0px;
	color: #4267b2;
	font-size: 16px;
	border-bottom: 1px dashed #CCC;
}

.view_post p {
	padding: 5px 0px;
	margin: 0px;
	font-size: 12px;
}

.view_post label {
	font-size: 12px;
}

.view_post label a {
	color: #9861b9;
}

.footer {
	position: fixed;
	z-index: 1px;
	width: 100%;
	left: 0px;
	bottom: 0px;
	padding: 20px 20px;
	font-size: 12px;
	background-color: #4267b2;
	color: #FFFFFF;
}